<template>
  <div class="modal fade" :id="id" tabindex="-1" role="dialog" :aria-labelledby="id + 'ModalLabel'" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-icon">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd"
                  d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
          </svg>
        </div>
        <div class="modal-body">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ErrorModal',
  props: {
    id: {
      required: true,
      type: String
    }
  }
}
</script>

<style scoped lang="scss">
.modal-dialog {
  $sizeTitle: 150px;
  $sizeTitleDividedByTwo: $sizeTitle / 2;

  top: 20%;

  .modal-icon {
    text-align: center;
    color: white;
    padding-bottom: -$sizeTitleDividedByTwo;
    position: relative;
    top: -$sizeTitleDividedByTwo;
    background-color: $error-color;
    height: $sizeTitle;
    line-height: $sizeTitle;
    width: $sizeTitle;
    border-radius: $sizeTitle;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-body{
    margin-top: -$sizeTitleDividedByTwo;
  }
}
</style>
