<template>
  <div class="box rounded-sm m-1 p-4">
    <div class="title">{{ title }}</div>
    <hr/>
    <div class="p-1" v-for="story in stories" :key="story.id">
      <Card :story="story"/>
    </div>
  </div>
</template>

<script>
import Card from '@/components/profile/Card'

/**
 * A Box is a container that contains a list of card
 */
export default {
  name: 'Box',
  components: { Card },
  props: {
    title: {
      type: String,
      required: true
    },
    stories: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">

.box {

  overflow: auto;
  height: 500px;

  .title {
    font-size: 16px;
  }
}

</style>
