<template>
  <div class="card ">
    <router-link class="link" :to=" '/story/' + this.story.id">
      <div class="card-body">
        <h5 class="card-title title">{{ story.title }}</h5>
        <p class="card-text text">{{ story.excerpt }}</p>
      </div>
    </router-link>
  </div>
</template>

<script>
/**
 * a Card display a story information (the title and the excerpt)
 */
export default {
  name: 'Card',
  props: {
    story: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">

.card {
  .link {
    text-decoration: none;
    color: $black-color;
  }

  .title {
    color: $main-color;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    transition: all 0.3s ease;
  }
}

</style>
