<template>
  <div>
    <div class="title">Statistics</div>
    <div id="created">
      <span class="subtitle">Number of stories created :</span> {{ nbCreated }}
    </div>
   <div id="participated">
      <span class="subtitle">Number of different stories contributions :</span> {{ nbParticipated }}
    </div>
    <!-- TODO : not bind with the backen
    <div>
      <span class="subtitle">Most liked story :</span> {{mostLikedStoryTitle}}
    </div>-->
  </div>
</template>

<script>
/**
 * Display statistics about the user
 */
export default {
  name: 'Stats',
  props: {
    nbCreated: {
      type: Number,
      require: true,
      default: 0
    },
    nbParticipated: {
      type: Number,
      require: true,
      default: 0
    },
    mostLikedStoryTitle: {
      type: String,
      require: true,
      default: '-'
    }
  }
}
</script>

<style scoped lang="scss">
.title {
  color: $main-color;
  font-weight: bold;
  font-size: 32px;
}

.subtitle {
  color: $main-color;
  font-weight: bold;
  font-size: 16px
}
</style>
