<template>
  <div>
    <div class="username-container">
      <span class="label" >Username : </span> {{ getCurrentUser().username }}
    </div>
    <div class="email-container">
      <span class="label">Email : </span> {{ getCurrentUser().email }}
    </div>
  </div>
</template>

<script>
/**
 * Display user information
 */
export default {
  name: 'UserDetails',
  methods: {
    /**
     * Get the connected user
     * @returns {{connected: boolean, userId: number, email: string, username: string}|*} User Object
     */
    getCurrentUser () {
      return this.$store.state.currentUser
    }
  }
}
</script>

<style scoped lang="scss">
.label {
  font-weight: bold;
  color: $main-color;
}
</style>
