<template>
  <div class="browse container">
    <div class="stories-container" v-if="isLoaded">
      <div class="stories" v-if="stories.length > 0">
        <div class="col-md-12">
          <form
            @submit="search"
          >
            <div class="form-search">
              <Multiselect id="select-tags-filter" class="tags-multiselect" :options="tags"
                           @update="updateTagsSelected">
                <i class="fas fa-tags"></i>
              </Multiselect>
              <div class="part-input-text">
                <input v-model="searchTxt" type="search" class="form-control search-input"
                       placeholder="Enter the title of a story you're looking for"/>
                <button type="submit" class="btn btn-primary-color btn-search"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <StoryBrowse v-for="story in currentStories()" :key="story.id" :story="story"/>
        <div class="col-md-12">
          <Pagination :size="numberPages()" :activeNumber="activeNumber"/>
        </div>
      </div>
      <div class="no-stories" v-else>
        <div id="nostories">
          <div class="nostories">
            <div class="nostories-error">
              <div class="title">Oops!</div>
              <div class="subtitle">
                No story has been found
              </div>
            </div>
            <router-link class="btn-link col-md-12 mb-2" to="/new-story">Be the first one to create a story <i
              class="far fa-smile-wink"></i></router-link>
            <button @click="goBack" class="btn btn-link col-md-12">Go back <i class="fas fa-arrow-circle-left"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="loading-container" v-else>
      <Loading text="Loading the stories"/>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

import StoryBrowse from '@/components/browse/StoryBrowse'
import Pagination from '@/components/Pagination'
import { apiUrl } from '@/objects/lib/Utils'
import { TagBuilder } from '@/objects/tag/Tag'
import Loading from '@/components/Loading'
import Multiselect from '@/components/Multiselect'
import { StoryBuilder } from '@/objects/story/Story'

const pageSize = 5

export default {
  name: 'Browse',
  components: {
    Loading,
    Pagination,
    StoryBrowse,
    Multiselect
  },
  watch: {
    $route (to, from) {
      const reg = /\/browse\/\d+/g
      if (reg.test(to.fullPath)) {
        this.activeNumber = parseInt(this.$route.params.num)
        this.getStories()
      }
    }
  },
  methods: {
    /**
     *  History go backward
     */
    goBack () {
      this.$router.go(-1)
    },

    /**
     * Search method, retrieve the list of selected tags and the text in the text input
     * @param e input event
     */
    search (e) {
      let tagsUrl = ''

      for (let i = 0; i < this.tagSelected.length; ++i) {
        if (i > 0) {
          tagsUrl += '-'
        }

        tagsUrl += this.tagSelected[i].id
      }

      const optionsQuery = {}

      if (this.tagSelected.length > 0) {
        optionsQuery.tags = tagsUrl
      }

      if (this.searchTxt !== '') {
        optionsQuery.searchTxt = this.searchTxt
      }

      this.$router.push({
        path: `/browse/${this.activeNumber}/`,
        query: optionsQuery
      })

      e.preventDefault()
    },
    /**
     * update the selected tags list
     * @param tags
     */
    updateTagsSelected (tags) {
      this.tagSelected = tags
    },
    /**
     * return the number of page for the pagination
     * @returns {number} number of pages
     */
    numberPages () {
      return Math.floor((this.stories.length + pageSize - 1) / pageSize)
    },
    /**
     * Return the list of the stories corresponding to the active page
     * @returns {*[]} list of stories
     */
    currentStories () {
      const start = (this.activeNumber - 1) * pageSize
      const end = this.activeNumber * pageSize
      return this.stories.slice(start, end)
    },
    /**
     * Retrieve the list of tags
     */
    getTags () {
      axios
        .get(apiUrl('tags'))
        .then((response) => {
          for (const tag of response.data) {
            this.tags.push(
              new TagBuilder()
                .setName(tag.name)
                .setId(tag.id)
                .build()
            )
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
    /**
     * Retrieve the list of stories
     */
    getStories () {
      const optionsQuery = {}

      if (this.$route.query.tags !== undefined) {
        optionsQuery.tags = this.$route.query.tags
      }

      if (this.$route.query.searchTxt !== undefined) {
        optionsQuery.inputSearch = this.$route.query.searchTxt
      }

      this.stories = []

      axios
        .get(apiUrl('stories'), {
          params: optionsQuery
        })
        .then((response) => {
          for (let i = 0; i < response.data.length; i++) {
            const story = response.data[i]
            let nbCharacters = 0

            const tags = []

            for (const tag of story.tags) {
              tags.push(
                new TagBuilder()
                  .setId(tag.id)
                  .setName(tag.name)
                  .build()
              )
            }

            for (const paragraph of story.paragraphs) {
              nbCharacters += paragraph.text.length
            }

            this.stories.push(
              new StoryBuilder()
                .setId(story.id)
                .setTitle(story.title)
                .setExcerpt(story.paragraphs[0].text)
                .setNbMinParagraphs(story.minParagraph)
                .setNbMaxParagraphs(story.maxParagraph)
                .setNbCharacters(nbCharacters)
                .setNbParagraphsAlreadyWritten(story.paragraphs.length)
                .setTags(tags)
                .setDone(story.isDone)
                .build()
            )
          }

          this.isLoaded = true
        })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  mounted () {
    this.getStories()
    this.getTags()
  },
  data: function () {
    return {
      activeNumber: parseInt(this.$route.params.num),
      stories: [],
      tags: [],
      tagSelected: [],
      searchTxt: '',
      isLoaded: false
    }
  }
}
</script>

<style lang="scss">

/* Search bar and filter tags */

.form-search {
  $radiusBorder: 4px;
  display: flex;
  width: 100%;

  .tags-multiselect {
    .btn {
      border-radius: $radiusBorder 0px 0px $radiusBorder;
      border: 1px solid $grey-color;
      background-color: $grey-color;
      color: $white-color;

      &[aria-expanded=true] {
        background-color: darken($grey-color, 10%);
      }

      &:focus,
      &:hover {
        box-shadow: none;
      }
    }
  }

  .part-input-text {
    $sizeSearchInput: 88%;
    display: flex;
    width: 100%;
    background-color: $white-color;
    border-width: 0px;
    border-radius: 0px;

    .search-input {
      width: $sizeSearchInput;
      border-width: 0px;

      &:focus,
      &:hover {
        box-shadow: none;
        border-color: $white-color;
      }
    }

    .btn-search {
      width: 100% - $sizeSearchInput;
      border-radius: 0px $radiusBorder $radiusBorder 0px;
    }
  }
}

/* No stories found */

#nostories {
  position: relative;
  height: 80vh;

  .nostories {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .btn-link {
    border-radius: 0;
  }
}

.nostories {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;

  .nostories-error {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;

    .title,
    .subtitle,
    .btn-link {
      font-family: "Montserrat", sans-serif;
    }

    .title {
      font-size: 236px;
      font-weight: 200;
      margin: 0px;
      color: $black-color;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .subtitle {
      font-size: 28px;
      font-weight: 400;
      color: $black-color;
      background: $white-color;
      text-transform: uppercase;
      padding: 10px 5px;
      margin: auto;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
    }
  }

  .btn-link {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: $white-color;
    text-transform: uppercase;
    padding: 13px 23px;
    background: $main-color;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;

    &:hover {
      color: $main-color;
      background: $black-color;
    }
  }
}

@media only screen and (max-width: 767px) {
  .nostories .nostories-error .title {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .nostories .nostories-error {
    height: 148px;
    margin: 0px auto 10px;

    .title {
      font-size: 86px;
    }

    .subtitle {
      font-size: 16px;
    }

    .btn-link {
      padding: 7px 15px;
      font-size: 14px;
    }
  }
}

</style>
