<template>
  <div class="home-container" :style=" 'background: url(' + backgroundUrl + ') no-repeat center / cover'">
    <div class="container-not-blurred">
      <div class="hero-container">
        <div class="hero-box">
          <img class="logo-img" src="@/assets/img/logo.png" alt="Logo of Costory"/>
          <div class="welcome">
            Hi fellow story teller !
          </div>
          <div class="explanation">
            You can either start a new story or continue an existing one... Each paragraph has a maximum
            of 250 characters, which makes a completed story written by you and your anonymous friends <i class="far fa-laugh-beam"></i>
          </div>
          <div class="button-container">
            <router-link to="/new-story" tag="button">
              <button class="btn btn-primary-color-outline " id="btn_new_story">
                Start writing your adventure
              </button>
            </router-link>
            <router-link to="/browse" tag="button">
              <button class="btn btn-primary-color-outline" id="btn_browse">
                Browse stories
              </button>
            </router-link>
          </div>
        </div>
      </div>
      <div class="how-to-container">
        <div class="title">
          How to use this website
        </div>
        <div class="descriptions row">
          <div class="box col">
            <i class="fas fa-pen-fancy"></i>
            <div class="step">Step 1</div>
            Create a new story by choosing a title, a theme and the maximum length. Start to write the first
            paragraph, it helps the next author to continue the story
          </div>
          <div class="box col">
            <i class="fas fa-users"></i>
            <div class="step">Step 2</div>
            Wait other writers to complete the story
          </div>
          <div class="box col">
            <i class="fab fa-readme"></i>
            <div class="step">Step 3</div>
            Read your collaborative masterpiece !
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer/>
</template>

<script>

import backgroundUrl from '@/assets/img/hero.jpg'

export default {
  name: 'Home',
  data () {
    return {
      backgroundUrl
    }
  }
}
</script>

<style scoped lang="scss">

.cover {
  //blur is not possible to ignore the child element, need to trick with absolute position
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(4px);
  z-index: -1;
}

.home-container {
  position: relative;
  margin-top: -$sizePaddingApp;
  margin-bottom: -$sizePaddingApp;
}

.hero-container {
  height: $heroHeight;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-box {
    height: 80%;
    width: 80%;
    padding: $defaultPadding;
    background-color: $lightgrey-color;

    .logo-img {
      height: 40%;
      display: block;
      margin: auto;
    }

    .welcome {
      font-size: 32px;
      text-align: center;
    }

    .explanation {
      padding: $defaultPadding;
      font-size: 20px;
      text-align: center;

      i {
        color: $main-color;
      }
    }

    .button-container {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-content: center;

      .btn {
        width: 300px;
        height: 100px;
        margin: 8px;
        font-size: 26px;
      }
    }
  }
}

.how-to-container {
  background-color: $main-color;
  height: $heroHeight;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: auto;
    font-size: 64px;
    color: $white-color;
    text-align: center;
  }

  .descriptions {
    width: 80%;
    padding: $defaultPadding;
    margin: auto;
    font-size: 24px;
    text-align: center;

    .box {
      width: 100%;
      height: auto;
      text-align: center;
      padding: 8px;

      i {
        font-size: 64px;
        color: $black-color;
      }

      .step {
        font-size: 28px;
        padding: 16px;
        color: $white-color;
      }
    }
  }
}

@media only screen and (max-width: $sizeMobile) {
  .hero-container {
    height: 100%;

    .hero-box {
      height: 100%;
      margin-top: 16px;
      margin-bottom: 16px;

      .logo-img {
        width: 100%;
        padding: 16px;
      }

      .button-container {
        flex-direction: column;

        .btn {
          flex: 1;
          width: 100%;
          margin: 8px 0px;
          font-size: 20px;
        }
      }

    }
  }

  .how-to-container {
    height: 100%;
    padding: 64px;

    .title {
      margin-bottom: 24px;
    }

    .descriptions {
      flex-direction: column;
      padding: 0;
      margin: 0;

      .box {
        padding: 0;
        margin: 16px 0;
      }
    }

  }
}
</style>
