<template>
  <div class="container pt-5 pb-5">
    <LoginForm/>
  </div>
</template>

<script>
import LoginForm from '@/components/form/LoginForm'

export default {
  name: 'Login',
  components: { LoginForm }
}
</script>
