<template>
  <NewStoryForm/>
</template>

<script>
import NewStoryForm from '@/components/form/NewStoryForm'

export default {
  name: 'NewStory',
  components: {
    NewStoryForm
  }
}
</script>

<style scoped lang="scss">

</style>
