<template>
  <ErrorComponent where-to-go="/" sub-title="404 - Page not found" msg-btn="Back to home" />
</template>

<script>
import ErrorComponent from '@/components/error/ErrorComponent'
export default {
  name: 'NotFound',
  components: { ErrorComponent }
}
</script>
<style lang="scss">
</style>
