<template>
  <div class="col-md-8 mx-auto">
    <div class="title">Your profile</div>
    <div class="d-flex information">
      <UserDetails class="user-details flex-fill"/>
      <Stats class="flex-fill stats"
             :nbCreated="getNbCreatedStories"
             :nbParticipated="getNbParticipatedStories"/>
    </div>
    <hr class="divider"/>
    <div class="contribution-container">
      <div class="subtitle">Your contributions</div>
      <div class="mx-auto d-flex panel">
        <Box id="created-list" title="Your Stories" :stories="createdStories" class="flex-fill"/>
        <Box id="participated-list" title="Your paragraphs" :stories="participatedStories" class="flex-fill"/>
      </div>
    </div>
    <!-- TODO : remove it temp because it's not bind with the backend-->
    <!--
    <hr class="divider"/>
      <div class="interaction-container">
          <div class="subtitle">Your interactions</div>
          <div class="mx-auto d-flex panel">
            <Box title="Your Likes" class=" flex-fill"/>
            <Box title="Your comments" class="flex-fill"/>
          </div>
        </div>-->
  </div>
</template>

<script>

import UserDetails from '@/components/profile/UserDetails'
import Box from '@/components/profile/Box'
import Stats from '@/components/profile/Stats'
import axios from 'axios'
import { apiUrl, createStoryFromApi } from '@/objects/lib/Utils'

export default {
  name: 'Profile',
  components: {
    Stats,
    Box,
    UserDetails
  },
  mounted () {
    this.getCreatedStories()
    this.getParticipatedStories()
  },
  data: function () {
    return {
      createdStories: [],
      isCreatedStoriesLoaded: false,

      participatedStories: [],
      isParticipatedStoriesLoaded: false

    }
  },
  computed: {
    getNbCreatedStories () {
      return this.createdStories.length
    },
    getNbParticipatedStories () {
      return this.participatedStories.length
    }
  },
  methods: {
    /**
     * Retrieve the list of stories create by the user
     */
    getCreatedStories () {
      axios.get(apiUrl('stories/created/' + this.$store.state.currentUser.userId)).then((response) => {
        for (let i = 0; i < response.data.length; i++) {
          const story = response.data[i]
          this.createdStories.push(createStoryFromApi(story))
        }

        this.isCreatedStoriesLoaded = true
      }).catch((err) => {
        console.log(err)
      })
    },
    /**
     * Retrieve the list of stories participates by the user
     */
    getParticipatedStories () {
      axios.get(apiUrl('stories/participated/' + this.$store.state.currentUser.userId)).then((response) => {
        for (let i = 0; i < response.data.length; i++) {
          const story = response.data[i]
          this.participatedStories.push(createStoryFromApi(story))
        }

        this.isParticipatedStoriesLoaded = true
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>

<style scoped lang="scss">
.title {
  font-weight: bold;
  font-size: 64px;
  color: $main-color;
}

.divider {
  border: 1px solid lighten($main-color, 30%);
}

@media only screen and (max-width: $sizeMobile) {
  .panel {
    flex-direction: column;
  }

  .information {
    flex-direction: column;

    .stats {
      margin-top: 16px;
    }
  }
}

</style>
