<template>
  <div class="container pt-5 pb-5">
    <SignupForm />
  </div>
</template>

<script>

import SignupForm from '@/components/form/SignupForm'

export default {
  name: 'Signup.vue',
  components: { SignupForm }
}
</script>
