<template>
  <div v-if="isLoaded" class="col-md-8 mx-auto">
    <StoryDetails :display-continue="true" :story="story"/>
    <Comments :comments="story.comments" :storyId="story.id"/>
  </div>
  <Loading text="Loading the story" v-else/>
</template>

<script>

import { StoryBuilder } from '@/objects/story/Story.js'
import { apiUrl } from '@/objects/lib/Utils'
import axios from 'axios'
import { TagBuilder } from '@/objects/tag/Tag'
import { ParagraphBuilder } from '@/objects/story/Paragraph'
import StoryDetails from '@/components/story/StoryDetails'
import Loading from '@/components/Loading'
import { CommentBuilder } from '@/objects/story/Comment'
import Comments from '@/components/story/Comments'

export default {
  name: 'Story',
  components: {
    Comments,
    Loading,
    StoryDetails
  },
  methods: {
    /**
     * Retrieve a story
     */
    getStory () {
      const promises = []
      axios
        .get(apiUrl('stories/' + this.idStory))
        .then((response) => {
          const responseStory = response.data

          // TODO: Trouver un moyen de refactor dans Story.vue et StoryContinue.vue cette même partie de code

          // Process the tags associated
          const tags = []
          for (const tag of responseStory.tags) {
            tags.push(
              new TagBuilder()
                .setId(tag.id)
                .setName(tag.name)
                .build()
            )
          }

          // Process the paragraphs

          const paragraphs = []
          let nbCharacters = 0
          const paragraphPromises = []

          for (const paragraph of responseStory.paragraphs) {
            nbCharacters += paragraph.text.length

            let username = 'Anonymous'

            // If the paragraph is written by a user that has a account
            if (paragraph.tblUserId !== null) {
              // retrieve user information
              const promise = axios
                .get(apiUrl('users/' + paragraph.tblUserId))
                .then((response) => {
                  username = response.data.username

                  paragraphs.push(
                    new ParagraphBuilder()
                      .setAuthor(username)
                      .setText(paragraph.text)
                      .setDate(paragraph.date)
                      .setId(paragraph.id)
                      .build()
                  )
                }).catch((error) => {
                  console.log(error)
                })
              paragraphPromises.push(promise)
            } else {
              paragraphs.push(
                new ParagraphBuilder()
                  .setAuthor(username)
                  .setText(paragraph.text)
                  .setDate(paragraph.date)
                  .setId(paragraph.id)
                  .build()
              )
            }
          }

          // if all the paragraphs are retrieve, we can sort them
          Promise.all(paragraphPromises).then(() => {
            paragraphs.sort(function (p1, p2) {
              return p1.id - p2.id
            })
          })

          // TODO : Sometime some comments are not retrieve, probably a problem with promises
          // Process Comments
          const comments = []

          for (const comment of responseStory.comments) {
            const responses = []
            // retrieve answer associate to the comment
            for (const r of comment.comment) {
              // Retrieve user information for the answer
              axios.get(apiUrl('users/' + r.tblUserId))
                .then((response) => {
                  const username = response.data.username

                  responses.push(new CommentBuilder()
                    .setId(r.id)
                    .setAuthor(username)
                    .setText(r.text)
                    .setDate(new Date(r.date))
                    .build())
                })
            }

            // Retrieve user information for the comment
            const promise = axios.get(apiUrl('users/' + comment.tblUserId))
              .then((response) => {
                const username = response.data.username
                const c = new CommentBuilder()
                  .setId(comment.id)
                  .setAuthor(username)
                  .setText(comment.text)
                  .setDate(new Date(comment.date))
                  .setComments(responses)
                  .build()
                comments.push(c)
              }).catch((err) => {
                console.log(err)
              })

            promises.push(promise)
          }

          // Wait until all promise settled to create the story
          Promise.all(promises.concat(paragraphPromises)).then(() => {
            this.story = new StoryBuilder()
              .setId(responseStory.id)
              .setNbParagraphsAlreadyWritten(responseStory.paragraphs.length)
              .setTitle(responseStory.title)
              .setTags(tags)
              .setNbCharacters(nbCharacters)
              .setExcerpt('default')
              .setNbMaxParagraphs(responseStory.maxParagraph)
              .setNbMinParagraphs(responseStory.minParagraph)
              .setComments(comments)
              .setParagraphs(paragraphs)
              .setDone(responseStory.isDone)
              .build()
            this.isLoaded = true
          })
        })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  mounted () {
    this.getStory()
  },
  data: function () {
    return {
      idStory: parseInt(this.$route.params.num),
      story: undefined,
      isLoaded: false
    }
  }
}

</script>

<style scoped lang="scss">
</style>
