<template>
  <div v-if="isLoaded" class="col-md-8 mx-auto">
    <div v-if="!story.isDone">
      <StoryDetails :story="story" :display-continue="false"/>
      <ParagraphForm
        :story-id="story.id"
        :story-can-be-achieved="story.nbParagraphsAlreadyWritten >= story.nbMinParagraphs"
        :story-is-soon-done="story.nbParagraphsAlreadyWritten >= story.nbMaxParagraphs - 1"
        v-if="!story.isDone"/>
    </div>
    <div v-else>
      <ErrorComponent
        title="Oh nio" sub-title="The story is already done" :where-to-go="'/story/' + this.idStory"
        msg-btn="Go back to the story"/>
    </div>
  </div>
  <Loading text="Loading the story" v-else/>
</template>

<script>
// TODO : Ajouter les commentaires
// <Comments :comments="story.comments" /> -->

import { StoryBuilder } from '@/objects/story/Story.js'
import { apiUrl } from '@/objects/lib/Utils'
import axios from 'axios'
import { TagBuilder } from '@/objects/tag/Tag'
import { ParagraphBuilder } from '@/objects/story/Paragraph'
import StoryDetails from '@/components/story/StoryDetails'
import ParagraphForm from '@/components/form/ParagraphForm'
import Loading from '@/components/Loading'
import ErrorComponent from '@/components/error/ErrorComponent'

export default {
  name: 'StoryContinue',
  components: { ErrorComponent, Loading, ParagraphForm, StoryDetails },
  methods: {
    /**
     * Retrieve story
     */
    getStory () {
      axios
        .get(apiUrl('stories/' + this.idStory))
        .then((response) => {
          const responseStory = response.data

          // TODO: Trouver un moyen de refactor dans Story.vue et StoryContinue.vue cette même partie de code

          const tags = []

          for (const tag of responseStory.tags) {
            tags.push(
              new TagBuilder()
                .setId(tag.id)
                .setName(tag.name)
                .build()
            )
          }

          const paragraphs = []

          let nbCharacters = 0

          for (const paragraph of responseStory.paragraphs) {
            nbCharacters += paragraph.text.length

            let username = 'Anonymous'

            if (paragraph.tblUserId !== null) {
              axios
                .get(apiUrl('users/' + paragraph.tblUserId))
                .then((response) => {
                  username = response.data.username

                  this.story.addParagraph(
                    new ParagraphBuilder()
                      .setAuthor(username)
                      .setText(paragraph.text)
                      .setDate(paragraph.date)
                      .setId(paragraph.id)
                      .build()
                  )
                }).catch((error) => {
                  console.log(error)
                })
            } else {
              paragraphs.push(
                new ParagraphBuilder()
                  .setAuthor(username)
                  .setText(paragraph.text)
                  .setDate(paragraph.date)
                  .setId(paragraph.id)
                  .build()
              )
            }
          }

          this.story = new StoryBuilder()
            .setId(responseStory.id)
            .setNbParagraphsAlreadyWritten(responseStory.paragraphs.length)
            .setTitle(responseStory.title)
            .setTags(tags)
            .setNbCharacters(nbCharacters)
            .setExcerpt('default')
            .setNbMaxParagraphs(responseStory.maxParagraph)
            .setNbMinParagraphs(responseStory.minParagraph)
            .setDone(responseStory.isDone)
            .build()

          if (paragraphs.length > 0) {
            for (const paragraph of paragraphs) {
              this.story.addParagraph(paragraph)
            }
          }

          this.isLoaded = true
        }).catch((error) => {
          console.log(error)
        })
    }
  },
  mounted () {
    this.getStory()
  },
  data: function () {
    return {
      idStory: parseInt(this.$route.params.num),
      story: undefined,
      isLoaded: false
    }
  }
}

</script>

<style scoped lang="scss">
</style>
