<template>
  <TitlePage :title="'Costory - ' + currentTitle" />
  <Navbar />
  <div class="content-main">
    <router-view />
  </div>
  <Footer/>
</template>

<script>
import Navbar from '@/components/Navbar'
import TitlePage from '@/components/TitlePage'
import Footer from '@/components/Footer'

export default {
  components: {
    Footer,
    TitlePage,
    Navbar
  },
  mounted () {
    console.log(`Working on '${process.env.VUE_APP_MODE}' mode`)
    if (this.$cookie.isCookieAvailable('connected')) {
      const connected = this.$cookie.getCookie('connected')
      const username = this.$cookie.getCookie('username')
      const email = this.$cookie.getCookie('email')
      const userId = this.$cookie.getCookie('id')

      this.$store.commit('setCurrentUser', {
        connected: connected,
        username: username,
        email: email,
        userId: parseInt(userId)
      })
    }
  },
  watch: {
    $route (to, from) {
      this.currentTitle = this.$route.name
    }
  },
  data: function () {
    return {
      currentTitle: ''
    }
  }
}

</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-color: $footerCopyrightColor;
}

.content-main {
  background-color: $bg-color;
  color: $black-color;
  padding-top: $sizePaddingApp;
  padding-bottom: $sizePaddingApp;
}

.subtitle {
  color: $grey-color;
  font-size: 18pt;
}

.paragraph {
  color: $txt-color;
}

</style>
