<template>
  <div class="error-container">
    <div id="errorComponent">
      <div class="error">
        <div class="type-error">
          <div class="title">Oops!</div>
          <div class="subtitle">
            {{ subTitle }}
          </div>
        </div>
        <router-link class="btn-link" :to="whereToGo">{{ msgBtn }} <i class="far fa-smile-wink"></i></router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ErrorComponent',
  props: {
    whereToGo: {
      required: true,
      type: String
    },
    subTitle: {
      required: true,
      type: String
    },
    msgBtn: {
      required: true,
      type: String
    }
  }
}
</script>

<style lang="scss">

#errorComponent {
  position: relative;
  height: 80vh;
  .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.error {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;

  .type-error {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;

    .title,
    .subtitle,
    .btn-link{
      font-family: "Montserrat", sans-serif;
    }

    .title {
      font-size: 236px;
      font-weight: 200;
      margin: 0px;
      color: $black-color;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .subtitle {
      font-size: 28px;
      font-weight: 400;
      color: $black-color;
      background: $white-color;
      text-transform: uppercase;
      padding: 10px 5px;
      margin: auto;
      display: inline-block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
    }
  }

  .btn-link {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: $white-color;
    text-transform: uppercase;
    padding: 13px 23px;
    background: $main-color;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    &:hover {
      color: $main-color;
      background: $black-color;
    }
  }
}

@media only screen and (max-width: 767px) {
  .error .type-error .title {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .error .type-error {
    height: 148px;
    margin: 0px auto 10px;

    .title {
      font-size: 86px;
    }

    .subtitle {
      font-size: 16px;
    }

    .btn-link {
      padding: 7px 15px;
      font-size: 14px;
    }
  }
}
</style>
