<template>
  <!-- Footer -->
  <footer class="bg-dark-footer pt-4">

    <!-- Footer Elements -->
    <div class="container-fluid col-md-12">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">You don't need to have an account, just click and <a href="/new-story" class="btn btn-outline-white btn-rounded">Create your own story!</a></h5>
        </li>
      </ul>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright col-md-12 row pb-4">
      <div class="col-md-4 col-footer">
        <div class="title">
          A little about costory
        </div>
        <div class="description">
          <div class="col-md-12">
            <p>We are students from HEIG-VD, Switzerland, developping this project
              with the help of our Professor Olivier Liechti and our course assistant Ludovic Delafontaine.</p>
            <p>Join us and participate in our community !</p>
          </div>
          <div class="col-md-12 mt-3">
            <router-link class="btn btn-primary-color-outline btn-full-width" to="/signup">Sign up</router-link>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-footer">
        <div class="mb-2 title">Themes</div>
        <div class="col-md-12 description">
          <ul class="tags list-unstyled">
            <li v-for="tag in tags" :key="tag">
              <router-link :to="'/browse/1/?tags=' + tag.id">{{ tag.text }}</router-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-footer">
        <div class="title">Made with <i class="far fa-heart"></i> by</div>
        <div class="description col-md-12">
          <ul class="list-unstyled">
            <li v-for="author in authors" :key="author">{{ author }}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</template>

<script>
import axios from 'axios'
import { apiUrl } from '@/objects/lib/Utils'

export default {
  name: 'Footer',
  methods: {
    /**
     * get all tags
     */
    getTags: function () {
      axios.get(apiUrl('tags'))
        .then(resp => {
          for (const item of resp.data) {
            this.tags.push({
              text: item.name,
              id: item.id
            })
          }
          this.isLoaded = true
        })
        .catch(error => console.error(error))
    }
  },
  mounted () {
    this.getTags()
  },
  data: function () {
    return {
      authors: [
        'Chau Ying Kot',
        'Lehmann Maurice',
        'Potet Bastien',
        'Mattei Simon'
      ],
      tags: []
    }
  }
}
</script>

<style scoped lang="scss">

.bg-dark-footer {
  width: 100%;
  background-color: $black-color;
  color: white;

  .btn {
    color: white;
  }
}

footer {

  .footer-copyright {
    padding-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: $footerCopyrightColor;

    .title {
      &:after {
        $colorUnder: darken($white-color, 20%);
        display: block;
        position: relative;
        content: '';
        height: 5px;
        width: 100%;
        margin-top: 10px;
        background: $colorUnder;
        background: linear-gradient(90deg, $colorUnder 20%, darken($colorUnder, 10%) 20%);
      }
    }

    .tags {
      li a {
        margin-left: -20px;
        transition: all .5s;

        &:before {
          content: '>';
          margin-right: 5px;
          color: $main-color;
          opacity: 0;
        }

        &:hover {
          text-decoration: none;
          margin-left: 0px;

          &:before {
            opacity: 1;
          }
        }
      }
    }

    .fa-heart {
      color: $main-color;
    }

    .btn-full-width {
      width: 100%;
    }

    .description {
      $color: darken(white, 15%);
      margin-top: 20px;
      margin-bottom: 20px;
      color: $color;

      a {
        color: $color;
      }
    }
  }

  .btn-outline-white {
    border: 1px solid white;

    &:hover {
      background-color: white;
      color: $footerCopyrightColor;
    }
  }

  .btn-rounded {
    border-radius: 60px;
  }
}
</style>
