<template>
  <div class="loading-container">
    <i class="fas fa-circle-notch fa-spin"></i>
    <div class="col-md-12 text">{{ text }}</div>
  </div>
</template>

<script>
export default {
  name: 'Loading',
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
