<template>
  <div class="dropdown multiselect">
    <button
      class="btn btn-grey-color-outline dropdown-toggle btn-select-options"
      type="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <slot></slot>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu checkbox-menu" @click="allowFocus" aria-labelledby="btnTagsFilter">
      <li v-for="option in options" :key="option">
        <label>
          <input type="checkbox" @change="changesOption" :value="option" v-model="optionsSelected"> {{ option.name }}
        </label>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'Multiselect',
  props: {
    options: {
      type: Array,
      required: true
    }
  },
  data: function () {
    return {
      optionsSelected: []
    }
  },
  methods: {
    /**
     * Stop the propagations
     * @param e event
     */
    allowFocus (e) {
      e.stopPropagation()
    },
    /**
     * Update the selected options
     */
    changesOption () {
      this.$emit('update', this.optionsSelected)
    }
  }
}
</script>

<style scoped lang="scss">
.checkbox-menu {
  li {
    input {
      margin: 0px 5px;
      top: 2px;
      position: relative;
    }

    label {
      display: block;
      padding: 3px 10px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      margin: 0;
      transition: background-color .4s ease;

      &:hover,
      &:focus {
        cursor: pointer;
        background-color: #f5f5f5;
      }
    }

    &.active {
      label {
        background-color: #cbcbff;
        font-weight: bold;

        &:hover,
        &:focus {
          background-color: #b8b8ff;
        }
      }
    }
  }
}
</style>
