<template>
  <nav class="navbar navbar-expand-md navbar-light">
    <router-link class="navbar-brand" to="/">
      <img class="logo-img" src="@/assets/img/logo.png" alt="Logo of Costory"/>
    </router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCostory"
      aria-controls="navbarCostory"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
    </button>

    <div class="collapse navbar-collapse" id="navbarCostory">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <router-link class="nav-link" to="/">Home <i class="fas fa-home"></i></router-link>
        </li>
        <li class="nav-item">
          <router-link :class="{ 'router-link-active': isUrlBrowse() }" class="nav-link" to="/browse">Browse stories <i
            class="fas fa-search"></i></router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/new-story">New story <i class="fas fa-feather-alt"></i></router-link>
        </li>
        <li class="nav-item" v-if="!getCurrentUser().connected">
          <router-link class="nav-link btn-nav" to="/login">Login</router-link>
        </li>
        <li class="nav-item" v-if="!getCurrentUser().connected">
          <router-link class="nav-link btn-nav" to="/signup">Sign up</router-link>
        </li>
        <li class="nav-item" v-if="getCurrentUser().connected">
          <div class="btn-group">
            <button type="button" class="btn btn-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              {{ getCurrentUser().username }} <i class="far fa-user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <router-link id="profile" class="dropdown-item btn-logout" to="/profile">Profile</router-link>
              <button id="logout" @click="disconnect" class="dropdown-item btn-logout" type="button">Logout</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>

import axios from 'axios'
import { apiUrl } from '@/objects/lib/Utils'

export default {
  name: 'Navbar',
  methods: {
    /**
     * return if the current page if the browse page
     * @returns {boolean}
     */
    isUrlBrowse () {
      const reg = /\/browse\/\d+.*/g
      const ret = reg.test(this.$route.fullPath)
      return ret
    },
    /**
     * Return the current user
     * @returns {{connected: boolean, userId: number, email: string, username: string}|*}
     */
    getCurrentUser () {
      return this.$store.state.currentUser
    },
    /**
     * Deconnect a user if he is connected
     */
    disconnect () {
      if (this.getCurrentUser().connected) {
        axios.get(apiUrl('auth/logout/'))
          .then((response) => {
            this.$store.commit('setCurrentUser', {
              connected: false,
              username: '',
              email: '',
              userId: 0
            })

            // remove cookies
            this.$cookie.removeCookie('connected')
            this.$cookie.removeCookie('username')
            this.$cookie.removeCookie('email')
            this.$cookie.removeCookie('id')

            console.log(response)
          }).catch((error) => {
            console.log(error)
          })
      }
    }
  },
  data () {
    return {
      urlApi: process.env.VUE_APP_API_URL
    }
  }
}
</script>

<style scoped lang="scss">

// source :
// https://codepen.io/abdelRhman345/pen/PXMmdv

$sizeBar: 2px solid $main-color;

.navbar {
  background-color: lighten($bg-color, 2%);

  .logo-img {
    height: 45px;
  }

  .btn-menu {
    color: $grey-color;
    border-radius: 0px;
    transition: all .5s;

    i {
      color: $main-color;
    }

    &:focus {
      font-weight: bold;
      box-shadow: none;
    }
  }

  .navbar-nav .nav-item .nav-link {
    i {
      transition: all .5s;
    }

    &:hover {
      i {
        color: $main-color;
      }
    }

    &.router-link-active {
      i {
        color: $main-color;
      }
    }
  }

  @media screen and (min-width: ($sizeMobile + 1)) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: $sizeBar;
            border-bottom: $sizeBar;
            transform: scaleY(2);
            opacity: 0;
            transition: all .3s;
          }

          &:hover {
            &:before {
              transform: scaleY(1);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $sizeMobile) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          left: -10px;

          &:before {
            content: '>';
            color: $main-color;
            margin-right: 5px;
            position: relative;
            opacity: 0;
          }

          &:hover {
            left: 0px;

            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        position: relative;
        display: block;
        transition: .5s;
        color: $grey-color;
        text-transform: uppercase;

        &.btn-nav {
          color: $main-color;
        }

        &.router-link-active,
        &.router-link-exact-active {
          font-weight: bold;
        }
      }
    }
  }

  .navbar-toggler {
    border: 1px solid $main-color;
    color: $main-color;

    &:focus,
    &:active {
      border: 1px solid $main-color;
      color: $main-color;
    }
  }
}
</style>
