<template>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" :class="{ disabled: activeNumber === 1 }">
        <router-link class="page-link" :to="'/browse/' + (activeNumber - 1)">Previous</router-link>
      </li>
      <li v-if="this.size >= maxPagesDisplayed && activeNumber !== 1" class="page-item disabled">
        <div class="page-link">...</div>
      </li>
      <li v-for="i in currentPages()" :key="i" class="page-item" :class="{ active: activeNumber === i }">
        <router-link class="page-link" :to="'/browse/' + i">{{ i }}</router-link>
      </li>
      <li v-if="!isFinalPages()" class="page-item disabled">
        <div class="page-link">...</div>
      </li>
      <li class="page-item" :class="{ disabled: activeNumber === size }">
        <router-link class="page-link" :to="'/browse/' + (activeNumber + 1)">Next</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>

export default {
  name: 'Pagination',
  methods: {
    /**
     * Check if we are at the last page
     * @returns {boolean}
     */
    isFinalPages () {
      return this.activeNumber > this.size - this.maxPagesDisplayed
    },
    /**
     * return the list of pages numbers that will be shown in the pagination
     * @returns {any[]}
     */
    currentPages () {
      let array
      if (this.size < this.maxPagesDisplayed) {
        array = Array.from({
          length: this.size
        },
        (_, i) => i + 1)
      } else if (!this.isFinalPages()) {
        array = Array.from({
          length: this.maxPagesDisplayed
        },
        (_, i) => {
          return this.activeNumber + i
        })
      } else {
        array = Array.from({
          length: this.maxPagesDisplayed
        },
        (_, i) => {
          return this.size - this.maxPagesDisplayed + i + 1
        })
      }

      return array
    }
  },
  props: {
    size: {
      required: true,
      type: Number
    },
    activeNumber: {
      required: true,
      type: Number
    },
    maxPagesDisplayed: {
      default: 6
    }
  }
}
</script>

<style scoped lang="scss">
  .pagination{
    .page-item{
      &:not(.disabled){
        a {
          color: $main-color;
          transition: all .5s;
        }
      }
      &.active{
        a {
          background-color: $main-color;
          border-color: $main-color;
          color: white;
        }
      }
    }
  }
</style>
