<template>
  <div class="comment">
    <div class="text">
      <p>{{ comment.text }}</p>
    </div>
    <div class="detail">
      <span>Author :  {{ comment.author }} </span> | <span>Date : {{ formatDate(comment.date) }} </span>
      <button class="btn btn-primary-color-outline ml-3 btn-response"
              @click="this.showForm = !this.showForm"
              type="button"
              v-if="hasChild && isConnected() ">
        Answer
      </button>
      <CommentForm v-if="showForm" class="pb-5" :commentId="comment.id" :storyId="storyId"/>
    </div>
    <Comment class="response"
             v-for="commentResponse in comment.comments"
             v-bind:key="commentResponse"
             v-bind:comment="commentResponse"
             v-bind:has-child="false"/>
  </div>
</template>

<script>

import { formatDate } from '@/objects/lib/Utils.js'
import { Comment } from '@/objects/story/Comment.js'
import CommentForm from '@/components/form/CommentForm'

export default {
  name: 'Comment',
  components: { CommentForm },
  props: {
    comment: {
      required: true,
      validator: (value) => value instanceof Comment
    },
    storyId: {
      type: Number,
      required: true
    },
    // if the comment has a comment component as child
    hasChild: {
      type: Boolean,
      required: true
    }
  },
  data: function () {
    return {
      showForm: false
    }
  },
  methods: {
    /**
     * Format the date
     */
    formatDate: formatDate,
    /**
     * Return if the user is connected
     * @returns {boolean}
     */
    isConnected () {
      return this.$store.state.currentUser.connected
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.response {
  margin-left: 16pt;
  padding-left: 8pt;
  border-left: solid 1pt $grey-color;
}

.review {
  margin-top: 8pt;
  margin-bottom: 8pt;
  padding: 8pt;
  background-color: $white-color;
}

.comment {
  font-size: 10pt;
}

.detail {
  color: $main-color;
  text-align: right;
}

.btn-response {
  font-size: 14px;
  padding: 1px 10px;
}

</style>
