<template>
  <div class="comments-section">
    <div class="pb-4 font-weight-bold">
      Comments
    </div>
    <div class="reviews">
      <Comment class="review"
               v-for="comment in comments"
               :key="comment"
               :comment="comment"
               :storyId="storyId"
               :hasChild="true"/>
    </div>
    <CommentForm :storyId="storyId" v-if="isConnected()"/>
    <router-link to="/signup" v-else>
      <button class="btn btn-primary-color-outline col-md-12 notConnected"> Create a account to add a comment !
      </button>
    </router-link>
  </div>

</template>

<script>

import Comment from '@/components/story/Comment'
import CommentForm from '@/components/form/CommentForm'

export default {
  name: 'Comments',
  components: {
    Comment,
    CommentForm
  },
  props: {
    comments: {
      required: true,
      type: Array
    },
    storyId: {
      type: Number,
      required: true
    }
  },
  methods: {
    /**
     * Return if the user is connected
     * @returns {boolean}
     */
    isConnected () {
      return this.$store.state.currentUser.connected
    }
  }
}
</script>

<style scoped lang="scss">
.notConnected {
  font-size: 24px;
}
</style>
