<template>
  <div class="paragraph">
    <div class="text">
      <p class="paragraph">{{ paragraph.text }}</p>
    </div>
    <div class="detail">
      <span>Author :  {{ paragraph.author === undefined ? 'Anonymous' : paragraph.author }} </span> |
      <span>Date : {{ formatDate(paragraph.date) }} </span>
    </div>
  </div>
</template>

<script>
import { formatDate } from '@/objects/lib/Utils.js'
import { Paragraph } from '@/objects/story/Paragraph'

export default {
  name: 'Paragraph',
  props: {
    paragraph: {
      required: true,
      validator: (value) => value instanceof Paragraph
    }
  },
  methods: {
    // Format date
    formatDate: formatDate
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.story {
  width: 75%;
  margin-top: 32pt;
  margin-left: auto;
  margin-right: auto;
}

.detail {
  color: $main-color;
  text-align: right;
}

.story-detail {
  padding-top: 8pt;
  padding-bottom: 8pt;
}

.paragraph {
  padding-top: 8pt;
  padding-bottom: 8pt;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}

</style>
