<template>
  <div class="story-container">
    <div class="title-board">
      <div class="half-width">
        <h1 class="title">{{ story.title }}</h1>
      </div>
      <div class="half-width continue-the-story" v-if="editable()">
        <router-link class="btn btn-primary-color-outline" :to="'/story/' + story.id + '/continue/'">
          Continue this story
        </router-link>
      </div>
    </div>
    <h2 class="story_information subtitle">Min paragraphs : {{ story.nbMinParagraphs }} | Max paragraphs :
      {{ story.nbMaxParagraphs }} | Current paragraphs : {{ story.nbParagraphsAlreadyWritten }}</h2>
    <div class="tags">
      <router-link
        v-for="tag in story.tags"
        :key="tag"
        class="btn btn-grey-color-outline tag"
        :to="'/browse/1/?tags=' + tag.id"
      >{{ tag.name }}
      </router-link>
    </div>
    <Paragraph
      v-for="paragraph in story.paragraphs"
      v-bind:key="paragraph"
      v-bind:paragraph="paragraph"/>
  </div>
</template>

<script>

import { Story } from '@/objects/story/Story'

import Paragraph from '@/components/story/Paragraph.vue'

export default {
  name: 'StoryDetails',
  props: {
    story: {
      required: true,
      type: Story
    },
    displayContinue: {
      required: true,
      type: Boolean
    }
  },
  methods: {
    /**
     * Check if the story can be continue
     * @returns {Boolean|boolean}
     */
    editable () {
      if (this.story.isDone) {
        return false
      } else {
        return this.displayContinue
      }
    }
  },
  components: {
    Paragraph
  }
}
</script>

<style lang="scss">

.story-container {
  margin: auto;

  .title-board {
    display: flex;

    .half-width {
      width: 50%;

      &.continue-the-story {
        text-align: right;
      }
    }
  }

  .tags {
    .tag {
      margin-right: 5px;
    }
  }

  .comments-section {
    .form-group {
      textArea {
        margin-top: 8pt;
        margin-bottom: 8pt;
      }

      button {
        float: right;
        margin-top: 8pt;
        margin-bottom: 8pt;
      }
    }
  }

}

</style>
