<template>
  <div class="story col-md-12">
    <div class="description col-md-12">
      <div class="title mb-3">
        {{ story.title }}
      </div>
      <div class="excerpt col-md-12">
        {{ story.shorthandExcerpt(maxCharacters) }}
      </div>
    </div>
    <div class="dock row">
      <div class="col-md-7 col-sm-4">
        <div class="tags">
          <router-link
            v-for="tag in story.tags.slice(0, maxTagsDisplayed)"
            :key="tag"
            class="btn btn-grey-color-outline tag"
            :to="'/browse/1/?tags=' + tag.id"
          >{{ tag.name }}
          </router-link
          >
          <div v-if="story.tags.length > maxTagsDisplayed" class="btn btn-grey-color-outline tag">...</div>
        </div>
      </div>
      <div class="col-md-5 col-sm-8 row dock">
        <div class="stats col-md-6">
          <ul class="list-unstyled">
            <li>
              Number of paragraphs already written: {{ story.nbParagraphsAlreadyWritten }}
            </li>
            <li>Minimum paragraphs: {{ story.nbMinParagraphs }}</li>
            <li>Maximum paragraphs: {{ story.nbMaxParagraphs }}</li>
          </ul>
        </div>
        <div class="explore col-md-6">
          <router-link
            class="float-right btn btn-primary-color-outline"
            :to="'/story/' + story.id"
          >Explore the story
          </router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Story } from '@/objects/story/Story.js'

export default {
  name: 'StoryBrowse',
  props: {
    story: {
      required: true,
      validator: (value) => value instanceof Story
    },
    maxCharacters: {
      default: 400,
      type: Number
    },
    maxTagsDisplayed: {
      default: 6,
      type: Number
    }
  }
}
</script>

<style scoped lang="scss">
.story {
  margin-top: 20px;
  margin-bottom: 20px;

  .description {
    background-color: $white-color;
    padding: 20px;

    .title {
      font-size: 38px;
    }

    margin-bottom: 20px;
  }

  .excerpt {
    word-wrap: break-word; /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap; /* current browsers */
  }

  .dock {
    .tags {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .btn {
        display: block;
        flex-grow: 1;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    .stats {
      font-size: 14px;
    }

    .explore {
      .btn {
        width: 100%;
      }
    }
  }
}
</style>
