
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* general */

body {
  font-family: 'Cambria', cursive;
  margin: auto;
  background-color: #F3F5F5;
}

h2 {
  font-size: 80px;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}

.img{
  padding: 15px;
}

.img img{
  width: 100%;
}

/* layout */

.button {
  color: #F4720A;
  border-color: #F4720A;
  padding: 7px;
  margin: 100px;
}

.orangeBG {
  background-color: #F4720A;
  color: #F3F5F5; 
  width: 100%;
  margin: 50px 20px;
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.normalBG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;
  color: #777777;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 350px;
  padding: 0px 20px;
  justify-content: space-between;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}

.buttons {
  margin-top: 100px;
}


