<template>
  <div>
  <textarea
    class="form-control input-area"
    v-model.trim="text.value"
    :placeholder="placeholder"
    :rows="rows"
    @input="checkInput"
    :class="{
      'is-invalid': text.errorRequired,
      'is-valid': text.success
    }"
  ></textarea>
    <div class="invalid-feedback" v-if="text.value === ''">Paragraph cannot be empty...</div>
    <div class="invalid-feedback" v-if="text.value.length > max">Number of maximum characters exceeded</div>
    <div class="charCounter">
      {{ text.value.length }}/{{ max }}
    </div>

  </div>
</template>

<script>
import { checkMaxChar } from '@/objects/lib/UtilsForm'

/**
 * This text area contains a char limit, if this limit is reach, a visual indicator is shown
 * At the bottom of the area, the container indicate the max and the current char number
 */
export default {
  name: 'limitedTextArea',
  props: {
    max: {
      type: Number,
      default: 500
    },
    placeholder: String,
    rows: Number
  },
  data: function () {
    return {
      text: {
        value: '',
        errorRequired: false,
        success: false
      }
    }
  },
  methods: {
    /**
     * Check if the input (text area) is valid
     * if not valid, we add a 'is-invalid' class to input
     * otherwise, 'is-valid' class is apply
     */
    checkInput () {
      checkMaxChar(this.text, this.max)
      // Indicate to the parent that the input changed
      this.$emit('update', this.text)
    }
  }
}
</script>

<style scoped lang="scss">

.input-area {
  white-space: pre-wrap;
  height: 350px;
}

.charCounter {
  margin: 8px;
  text-align: right;
}

.exceedMax {
  color: red;
}

</style>
