<template>
  <span class="badge-pill tag-badge">
    {{ text }} <a href="#" id="remove-badge" class="btn-remove" @click="removeTag"><i class="fas fa-times-circle"></i></a>
  </span>
</template>

<script>
export default {
  name: 'TagBadge',
  props: {
    text: String,
    id: {
      String,
      require: true
    }
  },
  methods: {
    // remove the tag badge in the parent
    removeTag () {
      this.$parent.removeTag(this.id)
    }
  }
}
</script>

<style scoped lang="scss">

.tag-badge {
  background-color: $main-color;
  color: $white-color;
  margin: 0 1px;

  .btn-remove {
    background: none;
    border: none;
    i {
      padding: 8px 0px;
      color: $white-color;

      &:hover,
      &:focus,
      &:active {
        color: red;
      }
    }
  }
}

</style>
