<template>
  <div class="tags-container">
    <div class="input-container">
      <TagBadge v-for="(id, index) in selectedTags.value"
                :key="index"
                :text="findById(id).text"
                :id="id"
                class="tag-badge"
      />

      <input type="text"
             id="tag-input"
             ref="taginput"
             :placeholder="placeholder"
             v-model="input"
             @keyup="nextSearchResult"
             @click="displayAllResults"
             class="tag-input"
      />
      <div>
        <input v-for="(tag, index) in selectedTags.value"
               :key="index"
               type="hidden"
               :value="tag.id"
        >
      </div>
    </div>

    <!-- NOTE(Chau): this block is a list, so all element above a push down when the list display-->
    <!--Display search result-->
    <div v-show="searchResults.length">
      <ul id="tags-result" class="result-list list-group">
        <button class="result-item list-group-item"
                id="tag-item"
                v-for="(tag, index) in searchResults"
                :key="index"
                @mousedown="addTag(tag)"
                type="button"
        >{{ tag.text }}
        </button>
      </ul>
    </div>

    <div class="invalid-feedback d-block" v-if="selectedTags.errorRequired">Require at least one tag</div>

  </div>
</template>

<script>
import TagBadge from '@/components/input/TagBadge'
import { hasAtLeastOneTag } from '@/objects/lib/UtilsForm'

export default {
  name: 'TagsInput',
  components: { TagBadge },
  props: {
    placeholder: {
      String,
      default: ''
    },
    tagsList: {
      Array,
      default: []
    },
    tagsInput: {
      Array,
      default: []
    }
  },
  data () {
    return {
      tags: [],
      input: '',

      selectedTags: {
        value: this.tagsInput,
        errorRequired: false,
        success: false
      },

      searchResults: []
    }
  },
  methods: {
    /**
     * add a tag to the selected tag list
     * @param tag
     */
    addTag (tag) {
      this.selectedTags.value.push(tag.id)
      // reset input and the proposition list
      this.input = ''
      this.searchResults = []
      this.checkInput()
    },
    /**
     * remove a the tag to the selected tag list
     * @param id the tag's that we want to remove
     */
    removeTag (id) {
      for (let i = 0; i < this.selectedTags.value.length; i++) {
        if (this.selectedTags.value[i] === id) {
          this.selectedTags.value.splice(i, 1)
          this.checkInput()
          return
        }
      }
    },
    /**
     * Return the tag corresponding the id
     * @param id the tag's id
     * @returns {*} return the corresponding tag, return null if the tag isn't found
     */
    findById (id) {
      for (let i = 0; i < this.tagsList.length; i++) {
        if (this.tagsList[i].id === id) {
          return this.tagsList[i]
        }
      }
      return null
    },
    /**
     * display all tag in the search
     */
    displayAllResults () {
      this.searchResults = []

      for (const tag of this.tagsList) {
        this.searchResults.push(tag)
      }
    },
    /**
     * Propose a list of tags that match with the input
     */
    nextSearchResult () {
      // clean the list
      this.searchResults = []
      const cleanInput = this.input.trim()

      if (cleanInput.length > 0) {
        const searchQuery = cleanInput.toLowerCase()

        // iterate to all tags and search if a tag match with the input
        for (const tag of this.tagsList) {
          if (!this.selectedTags.value.includes(tag) && tag.text.toLowerCase().includes(searchQuery)) {
            this.searchResults.push(tag)
          }
        }
      } else {
        // if the input is empty display all tags
        this.displayAllResults()
      }
    },
    /**
     * Check if the input is valid
     * if not valid, we add a 'is-invalid' class to input
     * otherwise, 'is-valid' class is apply
     *
     */
    checkInput () {
      hasAtLeastOneTag(this.selectedTags)
      // Indicate to the parent that the input changed
      this.$emit('update', this.selectedTags)
    }
  }
}
</script>

<style scoped lang="scss">

.input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid $grey-color;
  background-color: $white-color;
  padding: 8px;

  .tag-input {
    border: none;
    background-color: transparent;
    flex: 1;
  }
}

</style>
