@import "variables";

$colors: (
        "primary": $main-color,
        "grey": $grey-color,
        "success": $success-color,
        "error": $error-color );

@mixin generate-buttons-outline() {
  @each $key in map-keys($colors) {
    .btn-#{$key}-color-outline {
      $color: map-get($colors, $key);
      background: none;
      color: $color;
      border: 1px solid $color;

      &:hover,
      &:focus,
      &:active {
        background-color: $color;
        color: white;
      }

      &.disabled{
        background-color: $grey-disabled-color;
        color: darken($grey-disabled-color, 35%);
        border-color: darken($grey-disabled-color, 10%);
      }
    }
  }
}


@mixin generate-buttons() {
  @each $key in map-keys($colors) {
    .btn-#{$key}-color {
      $color: map-get($colors, $key);
      background: $color;
      color: white;
      border: 1px solid $color;

      &:hover,
      &:focus,
      &:active {
        background-color: darken($color, 2%);
        color: white;
      }

      &.disabled{
        background-color: $grey-disabled-color;
        color: darken($grey-disabled-color, 35%);
        border-color: darken($grey-disabled-color, 10%);
      }
    }
  }
}

@include generate-buttons-outline()
@include generate-buttons()
