@import "variables";

.loading-container {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
  .text{
    margin-top: 5%;
    font-size: 64px;
  }
  i{
    $sizeSpinner: 8rem;
    color: $main-color;
    font-size: $sizeSpinner;
  }
}
