$main-color: #F4720A;
$bg-color: #F3F5F5;
$black-color: #2B292D;
$txt-color: $black-color;
$grey-color: #898B92;
$grey-disabled-color: #E5E5E5;
$lightgrey-color: #f7f7f8 ;
$white-color: #FFF;
$error-color: #D15252;
$success-color: #5FCF90;
$sizeMobile: 767px;

$lighbg-color: lighten($bg-color, 5%);

$heroHeight: 850px;
$defaultPadding: 32px;

$footerCopyrightColor: lighten($black-color, 4%);

$sizePaddingApp: 50px;
