<template>
  <form class="comment-form">
    <form class="form-group" @change="checkForm" @submit="submitComment">
      <textarea class="form-control"
                :class="
               {
                 'is-invalid': commentInput.errorRequired,
                 'is-valid': commentInput.success
               }"
                v-model.trim="commentInput.value" id="txt_comment" rows="3"
                placeholder="Write your comment"/>
      <input class="btn btn-primary-color-outline my-2 my-sm-0 addComment" type="submit" value="Add your comment"/>
    </form>
  </form>
</template>

<script>
import axios from 'axios'
import { apiUrl } from '@/objects/lib/Utils'
import { validateRequired } from '@/objects/lib/UtilsForm'

/**
 * This form is use to add a comment to a story or a existing comment
 */
export default {
  name: 'CommentForm',
  props: {
    storyId: {
      type: Number,
      required: true
    },
    commentId:
      {
        type: Number,
        default: null
      }
  },
  data: function () {
    return {
      commentInput: {
        value: '',
        errorRequired: false,
        success: false
      }
    }
  },
  methods: {
    /**
     * Check if the input (text area for the comment) is valid
     * if not valid, we add a 'is-invalid' class to input
     * otherwise, 'is-valid' class is apply
     */
    checkForm () {
      validateRequired(this.commentInput)
    },
    /**
     * Method called when the user click on submit button, the form need to be valid
     * @param e submit event
     */
    submitComment (e) {
      if (this.commentInput.success) {
        // create the payload, all attributes expected by the backend need to be add
        // Otherwise, some browser (eg. firefox) can't send the request
        const data = {
          text: this.commentInput.value,
          tblUserId: this.$store.state.currentUser.userId,
          tblCommentId: null,
          tblStoryId: null
        }

        if (this.commentId != null) {
          data.tblCommentId = this.commentId
        } else {
          data.tblStoryId = this.storyId
        }

        axios.post(apiUrl('comments'), data).then((res) => {
          console.log('success', res)
        }).catch((err) => {
          console.log('error', err)
        })
      } else {
        this.checkForm()
        e.preventDefault()
      }
    }
  }
}
</script>

<style scoped lang="scss">
.comment-form {
  .form-group {
    textArea {
      margin-top: 8pt;
      margin-bottom: 8pt;
    }

    .addComment {
      float: right;
      margin-top: 8pt;
      margin-bottom: 8pt;
    }
  }
}
</style>
