<template>
  <SuccessModal id="success">
    <div class="title col-md-12">
      Great!
    </div>
    <div class="description col-md-12">
      You have been successfully logged in
    </div>
    <a href="/browse" class="btn btn-success-color-outline btn-browse col-md-12">
      Start browsing
    </a>
  </SuccessModal>
  <ErrorModal id="error">
    <div class="title col-md-12">
      Oh nio!
    </div>
    <div class="description col-md-12">
      It looks you haven't been logged in. <br />
      Your password or your username looks incorrect. <br />
      Retry <i class="fas fa-smile-wink"></i> <br />
      Contact an administrator if the problem persists
    </div>
    <button type="button" class="btn btn-error-color-outline btn-close col-md-12" data-dismiss="modal"
            aria-label="Close">
      Close the window
    </button>
  </ErrorModal>
  <div class="login form-classic col-md-8 mx-auto"  v-if="!isConnected()">
    <div class="title">
      Login
    </div>
    <form
      id="login"
      @change="checkForm"
      @submit="submitForm">
      <div class="col-md-12 form-row">
        <label for="username">Username</label>
        <input v-model="username.value" id="username" name="username" type="text" class="form-control"
               :class="
               {
                 'is-invalid': username.errorRequired,
                 'is-valid': username.success
               }" placeholder="Insert your username"/>
        <div class="invalid-feedback" v-if="username.errorRequired">Username required</div>
      </div>
      <div class="col-md-12 form-row">
        <label for="password">Password</label>
        <input v-model="password.value" id="password" name="password" type="password" class="form-control"
               :class="
               {
                 'is-invalid': password.errorRequired,
                 'is-valid': password.success
               }" placeholder="Insert your password"/>
        <div class="invalid-feedback" v-if="password.errorRequired">Password required</div>
      </div>
      <input type="submit" class="btn btn-primary-color-outline col-md-12" value="Login">
    </form>
  </div>
  <ErrorComponent v-else msg-btn="Back to home" where-to-go="/" sub-title="You are already logged in" />
</template>

<script>
import { validateRequired } from '@/objects/lib/UtilsForm'
import { apiUrl } from '@/objects/lib/Utils'
import axios from 'axios'
import SuccessModal from '@/components/modal/SuccessModal'
import ErrorModal from '@/components/modal/ErrorModal'
import ErrorComponent from '@/components/error/ErrorComponent'

export default {
  name: 'LoginForm',
  components: { ErrorComponent, SuccessModal, ErrorModal },
  data: function () {
    return {
      username: {
        value: '',
        errorRequired: false,
        success: false
      },
      password: {
        value: '',
        errorRequired: false,
        success: false
      }
    }
  },
  methods: {
    /**
     * Check if all inputs are valid
     * if not valid, we add a 'is-invalid' class to the corresponding input
     * otherwise, 'is-valid' class is apply
     */
    checkForm: function () {
      validateRequired(this.username)
      validateRequired(this.password)
    },
    /**
     * Method called when the user click on submit button, , the form need to be valid
     * @param e submit event
     */
    submitForm: function (e) {
      if (this.username.success && this.password.success) {
        axios.post(apiUrl('auth/login'), {
          username: this.username.value,
          password: this.password.value
        }).then((response) => {
          window.$('#success').modal('show')

          // Set current connected user data
          const currentUser = {
            connected: true,
            username: response.data.username,
            email: response.data.email,
            userId: parseInt(response.data.id)
          }

          this.$store.commit('setCurrentUser', currentUser)

          this.$cookie.setCookie('connected', currentUser.connected)
          this.$cookie.setCookie('username', currentUser.username)
          this.$cookie.setCookie('email', currentUser.email)
          this.$cookie.setCookie('id', currentUser.userId)
        }).catch((error) => {
          window.$('#error').modal('show')
          console.log(error)
        })
      }

      e.preventDefault()
    },
    /**
     * Return if the user is a connected whit a account
     * @returns {boolean}
     */
    isConnected () {
      return this.$store.state.currentUser.connected
    }
  }
}
</script>

<style scoped lang="scss">

#success,
#error {
  .modal-body {
    .title {
      text-align: center;
      font-size: 60px;
      margin-bottom: 20px;
    }

    .description {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

#error .modal-body .description {
  text-align: left;
  i {
    color: $error-color;
  }
}

.login {
  background-color: $lighbg-color;
  padding: 40px;

  .title {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .form-control {
    margin-bottom: 10px;
  }

  input[type='submit'] {
    margin-top: 20px;
  }
}
</style>
