<template>
  <SuccessModal id="success">
    <div class="title col-md-12">
      Great !
    </div>
    <div class="description col-md-12">
      You have successfully created a new story
    </div>
    <a :href="'/story/' + storyId" class="btn btn-success-color-outline btn-browse col-md-12">
      Start browsing
    </a>
  </SuccessModal>
  <ErrorModal id="error-server">
    <div class="title col-md-12">
      Oh nio!
    </div>
    <div class="description col-md-12">
      Your story has not been created. Retry <i class="fas fa-smile-wink"></i> <br/>
      Contact an administrator if the problem persists
    </div>
    <button type="button" class="btn btn-error-color-outline col-md-12" data-dismiss="modal"
            aria-label="Close">
      Close the window
    </button>
  </ErrorModal>
  <div class="new-story-container col-md-8 mx-auto" id="form-body" v-if="isLoaded">
    <form @submit="submitForm">
      <div class="form-group">
        <label for="title">Story's title</label>
        <input v-model.trim="title.value" type="text"
               class="form-control"
               :class=" {'is-invalid' : title.errorRequired, 'is-valid' : title.success}"
               id="title" placeholder="Insert your story's title"
               @change="checkForm">
        <div class="invalid-feedback" v-if="title.errorRequired">Title required</div>
      </div>
      <div class="form-group">
        <label>The first paragraph</label>
        <LimitedTextArea
          id="paragraph"
          :max="maxChar"
          :placeholder=" 'Write the first paragraph !'"
          :rows="10"
          ref="textarea"
          @update="updateLimitedText">
        </LimitedTextArea>
      </div>
      <div class="information row col-md-12">
        <div class="col col-md-6">
          <label for="tagInput">Tags ({{ tagsList[0].text }}, {{ tagsList[1].text }}, ...)</label>
          <TagsInput
            id="tagInput"
            aria-describedby="tagInputHelp"
            :tagsList="tagsList"
            ref="tagsInput"
            @update="updateSelectedTags">
          </TagsInput>
          <small id="tagInputHelp" class="form-text text-muted">
            Type the first letters to show suggested tags
          </small>
        </div>
        <div class="paragraph-value col col-md-6 row">
          <div class="mr-2">The story can end with a number of paragraphs between</div>
          <input id="paragraph-min" type="number" placeholder="10" v-model.number="paragraphsValue.min"
                 class="para-number form-control mr-2" min="0"
                 @change="checkForm"/>
          <div class="mr-2">and</div>
          <input id="paragraph-max" type="number" placeholder="20" v-model.number="paragraphsValue.max"
                 class="para-number form-control" min="0"
                 @change="checkForm"/>
          <div v-if="paragraphsValue.errorRequired" class="error">
            Something is wrong with these values
          </div>
        </div>
      </div>

      <div class="button-container">
        <input type="submit" class="btn btn-primary-color-outline" value="Create your story"/>
      </div>
    </form>
  </div>
  <div v-else>
    <Loading id="loading" text="Loading the tags"/>
  </div>
</template>

<script>
import TagsInput from '@/components/input/TagsInput'
import { validateRequired, checkParagraphValue } from '@/objects/lib/UtilsForm'
import { PARAGRAPH_MAX_CHAR } from '@/objects/lib/constant'

import axios from 'axios'
import { apiUrl } from '@/objects/lib/Utils'
import SuccessModal from '@/components/modal/SuccessModal'
import ErrorModal from '@/components/modal/ErrorModal'
import LimitedTextArea from '@/components/input/LimitedTextArea'
import Loading from '@/components/Loading'

export default {
  name: 'NewStoryForm',
  components: {
    Loading,
    LimitedTextArea,
    ErrorModal,
    SuccessModal,
    TagsInput
  },
  data: function () {
    return {
      selectedTags: {
        value: [],
        errorRequired: false,
        success: false
      },
      title: {
        value: '',
        errorRequired: false,
        success: false
      },
      paragraphText: {
        value: '',
        errorRequired: false,
        success: false
      },
      tagsList: [],
      paragraphsValue: {
        min: 10,
        max: 20,
        errorRequired: false,
        success: false
      },
      maxChar: PARAGRAPH_MAX_CHAR,
      storyId: undefined,
      isLoaded: false
    }
  },
  mounted () {
    this.getTags()
  },
  methods: {
    /**
     * Check if all inputs are valid
     * if not valid, we add a 'is-invalid' class to the corresponding input
     * otherwise, 'is-valid' class is apply
     */
    checkForm: function () {
      validateRequired(this.title)

      checkParagraphValue(this.paragraphsValue)

      // call checkInput that is inside the component
      this.$refs.textarea.checkInput()

      this.$refs.tagsInput.checkInput()
    },
    /**
     * Method called when the user click on submit button, , the form need to be valid
     * @param e submit event
     */
    submitForm: function (e) {
      // Retrieve all tags selected by the user
      const tagsPayload = []
      for (const tag of this.selectedTags.value) {
        tagsPayload.push({
          id: tag
        })
      }
      const that = this
      if (this.title.success && this.paragraphText.success && this.paragraphsValue.success && this.selectedTags.success) {
        const data = {
          title: this.title.value,
          minParagraph: this.paragraphsValue.min,
          maxParagraph: this.paragraphsValue.max,
          tags: tagsPayload,
          paragraph: {
            content: this.paragraphText.value
          }
        }

        if (this.$store.state.currentUser.connected) {
          data.tblUserId = this.$store.state.currentUser.userId
        }

        axios.post(apiUrl('stories'), data)
          .then(function (response) {
            that.storyId = response.data.storyId
            window.$('#success').modal('show')
          }).catch(function () {
            window.$('#error').modal('show')
          })
      } else {
        this.checkForm()
      }

      e.preventDefault()
    },
    /**
     * update the variable, retrieve the tags in the component and save this
     * @param tags
     */
    updateSelectedTags: function (tags) {
      this.selectedTags = tags
    },
    /**
     * update the variable, retrieve the text in the component and save this
     * @param text
     */
    updateLimitedText: function (text) {
      this.paragraphText = text
    },
    /**
     * Call the backend to retrieve tags
     */
    getTags: function () {
      axios.get(apiUrl('tags'))
        .then(resp => {
          for (const item of resp.data) {
            this.tagsList.push({
              text: item.name,
              id: item.id
            })
          }
          this.isLoaded = true
        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style scoped lang="scss">

#success,
#error {
  .modal-body {
    .title {
      text-align: center;
      font-size: 60px;
      margin-bottom: 20px;
    }

    .description {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.charCounter {
  margin: 8px;
  text-align: right;
}

.invalid-feedback, .error {
  color: red;
}

.button-container {
  margin: 8px 32px 8px 8px;;
  text-align: right;
}

.para-number {
  width: 70px;
}

@media only screen and (max-width: $sizeMobile) {
  .new-story-container {
    padding: 8px 32px;

    .button-container {
      margin: 8px;
      text-align: right;
    }

    .information {
      flex-direction: column;
      justify-items: center;

      .paragraph-value {
        margin: 10px;
        text-align: center;
      }
    }
  }
}

</style>
