<template>
  <form id="addParagraph">
    <LimitedTextArea
      :max="250"
      id="paragraph"
      placeholder="Write your paragraph"
      @update="updateText"
    />
    <div class="btn-board">
      <button type="button"
              class="btn btn-primary-color-outline btn-continue-story"
              :class="{
        disabled: storyIsSoonDone,
        }"
              @click="continueStory">
        Continue the story <i v-if="isLoaded" class="fas fa-circle-notch fa-spin"></i></button>
      <button type="button"
              class="btn btn-primary-color-outline btn-end-story"
              :class="{
        disabled: !storyCanBeAchieved
        }"
              @click="endStory"
      >End the story
      </button>
    </div>
  </form>
</template>

<script>

import axios from 'axios'
import { apiUrl } from '@/objects/lib/Utils'
import LimitedTextArea from '@/components/input/LimitedTextArea'

/**
 * This form is used to write a paragraph,
 * We can add a max char accepted in the text area
 */
export default {
  name: 'ParagraphForm',
  components: { LimitedTextArea },
  methods: {
    /**
     * Construct the payload that will use to send the request
     * @returns {{tblStoryId: Number, text: string, ?tblUserId : string}} Object that represent the payload, the user ID is optional
     */
    preparePayload () {
      const isConnected = this.$store.state.currentUser.connected

      const payload = {
        tblStoryId: this.storyId,
        text: this.content.value
      }

      if (isConnected) {
        payload.tblUserId = this.$store.state.currentUser.userId
      }

      return payload
    },
    /**
     * Method call when the user click to submit the new paragraph, , the form need to be valid
     */
    continueStory () {
      if (this.content.success && !this.storyIsSoonDone) {
        this.isLoaded = true

        axios.post(apiUrl('paragraphs'), this.preparePayload())
          .then((response) => {
            this.$router.push('/story/' + this.storyId)

            this.isLoaded = false
          })
          .catch((error) => {
            console.log(error)

            this.isLoaded = false
          })
      }
    },
    /**
     * update the variable, retrieve the text in the component and save this
     * @param text
     */
    updateText (text) {
      this.content = text
    },
    /**
     * Method call when the user click to end story button
     * The user needs a add a paragraph and the min paragraph reach to have the possibility to close a story
     */
    endStory () {
      if (this.storyCanBeAchieved && this.content.success) {
        // Send the last paragraph
        axios.post(apiUrl('paragraphs'), this.preparePayload())
          .then((response) => {
            // patch the story to indicate that the story is terminated
            axios.patch(apiUrl('stories/close'), {
              storyId: this.storyId
            }).then(response => {
              this.$router.push('/story/' + this.storyId)
              this.isLoaded = false
            }).catch((error) => {
              console.log(error)
              this.isLoaded = false
            })
          })
          .catch((error) => {
            console.log(error)
            this.isLoaded = false
          })
      }
    }
  },
  data: function () {
    return {
      content: undefined,
      isLoaded: false
    }
  },
  props: {
    storyId: {
      required: true,
      type: Number
    },
    storyIsSoonDone: {
      required: true,
      type: Number
    },
    storyCanBeAchieved: {
      required: true,
      type: Boolean
    }
  }
}
</script>

<style scoped lang="scss">
.btn-board {
  margin-top: 20px;
  display: flex;

  .btn {
    width: 49%;

    i {
      transition: all .5s;
    }

    &:first-child {
      margin-right: 1%;
    }

    &:last-child {
      margin-left: 1%;
    }
  }
}
</style>
