<template>
  <SuccessModal id="success">
    <div class="title col-md-12">
      Great!
    </div>
    <div class="description col-md-12">
      Your account has been created successfully
    </div>
    <a href="/login" class="btn btn-success-color-outline btn-browse col-md-12">
      Login
    </a>
  </SuccessModal>
  <ErrorModal id="error">
    <div class="title col-md-12">
      Oh nio!
    </div>
    <div class="description col-md-12">
      Your account has not been created. Retry <i class="fas fa-smile-wink"></i> <br/>
      Contact an administrator if the problem persists
    </div>
    <button type="button" class="btn btn-error-color-outline btn-close col-md-12" data-dismiss="modal"
            aria-label="Close">
      Close the window
    </button>
  </ErrorModal>
  <div class="signup col-md-8 mx-auto">
    <div class="title">
      Sign up
    </div>
    <form
      id="signup"
      @submit="submitForm">
      <div class="col-md-12 form-row">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="form-control"
               :class="{
          'is-invalid': username.errorRequired,
          'is-valid': username.success }"
               @change="checkForm"
               v-model="username.value" placeholder="Insert your username"/>
        <div class="invalid-feedback" v-if="username.errorRequired">Username required</div>
      </div>
      <div class="col-md-12 form-row">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" class="form-control"
               :class="{
          'is-invalid': email.errorRequired,
          'is-valid': email.success
           }"
               @change="checkForm"
               v-model="email.value" placeholder="Insert your email"/>
        <div class="invalid-feedback" v-if="email.errorRequired">E-mail required</div>
        <div class="invalid-feedback" v-if="email.errorNotAnEmail">It's not an e-mail</div>
      </div>
      <div class="col-md-12 form-row">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control" :class="{
          'is-invalid': password.errorRequired || password.errorDontMatch,
          'is-valid': password.success
        }"
               @change="checkForm"
               v-model="password.value" placeholder="Insert your password"/>
      </div>
      <div class="invalid-feedback" v-if="password.errorRequired">Password required</div>
      <div class="invalid-feedback" v-if="password.errorDontMatch">Confirmation of password and password don't
        match
      </div>
      <div class="col-md-12 form-row">
        <label for="cpassword">Repeat your password</label>
        <input id="cpassword" name="cpassword" type="password" class="form-control" :class="{
            'is-invalid': cpassword.errorRequired || cpassword.errorDontMatch,
            'is-valid': cpassword.success
        }"
               @change="checkForm"
               v-model="cpassword.value" placeholder="Confirm your password"/>
        <div class="invalid-feedback" v-if="cpassword.errorRequired">Confirmation of password required</div>
        <div class="invalid-feedback" v-if="cpassword.errorDontMatch">Confirmation of password and password don't
          match
        </div>
      </div>
      <input type="submit" class="btn btn-primary-color-outline col-md-12" value="Sign up"/>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import { apiUrl } from '@/objects/lib/Utils'
import { validateMatches, validateRequired } from '@/objects/lib/UtilsForm'
import ErrorModal from '@/components/modal/ErrorModal'
import SuccessModal from '@/components/modal/SuccessModal'

export default {
  name: 'SignupForm',
  components: {
    ErrorModal,
    SuccessModal
  },
  data: function () {
    return {
      username: {
        value: '',
        errorRequired: false,
        success: false
      },
      email: {
        value: '',
        errorRequired: false,
        errorNotAnEmail: false,
        success: false
      },
      password: {
        value: '',
        errorRequired: false,
        errorDontMatch: false
      },
      cpassword: {
        value: '',
        errorRequired: false,
        errorDontMatch: false
      },
      successSignup: false
    }
  },
  methods: {
    /**
     * Check if all inputs are valid
     * if not valid, we add a 'is-invalid' class to the corresponding input
     * otherwise, 'is-valid' class is apply
     */
    checkForm: function () {
      validateRequired(this.username)
      validateRequired(this.email)
      validateRequired(this.password)
      validateRequired(this.cpassword)

      validateMatches(this.password, this.cpassword.value)
      validateMatches(this.cpassword, this.password.value)
    },
    /**
     * Method called when the user click on submit button, the form need to be valid
     * @param e submit event
     */
    submitForm: function (e) {
      if (this.password.success && this.cpassword.success && this.username.success && this.email.success) {
        axios
          .post(apiUrl('users'), {
            username: this.username.value,
            email: this.email.value,
            password: this.password.value,
            passwordConfirm: this.cpassword.value
          })
          .then(function (response) {
            window.$('#success').modal('show')
          }).catch(function (error) {
            window.$('#error').modal('show')
            console.log(error)
          })
      }

      e.preventDefault()
    }
  }
}
</script>

<style scoped lang="scss">

#success,
#error {
  .modal-body {
    .title {
      text-align: center;
      font-size: 60px;
      margin-bottom: 20px;
    }

    .description {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

#error .modal-body .description {
  text-align: left;

  i {
    color: $error-color;
  }
}

.signup {
  background-color: $lighbg-color;
  padding: 40px;

  .title {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .form-control {
    margin-bottom: 10px;
  }

  input[type='submit'] {
    margin-top: 20px;
  }
}
</style>
